.flex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.house {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-style: bold;
    color: var(--dark-green);
}

p {
    font-style: italic;
}